@function remove-unit($value) {
  @return ($value / ($value * 0 + 1));
}
$base-rem-size: 16;
@function rem($px, $base: $base-rem-size) {
  @return (remove-unit($px / $base)) * 1rem;
}

#main_page {
  display: flex;
  max-width: rem(1260px);
  width: 100%;
  padding: 40px 10px 40px 10px;
  justify-content: center;
  @media screen and (max-width: 884px) {
    // padding: 0;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
}

.side_bar {
  min-width: rem(320px);
  max-width: rem(380px);
  width: 100%;
  height: rem(500px);
  box-sizing: border-box;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: rem(15px);
  margin-right: rem(27px);
  padding: rem(30px) rem(20px) rem(30px) rem(20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: 884px) {
    margin: rem(20px) 0 rem(20px) 0;
  }
  @media screen and (max-width: 470px) {
    width: 100%;
    height: rem(450px);
  }
}

.sidebar_title {
  width: 100%;
  height: 30px;
  font-weight: 300;
  font-size: rem(24px);
  line-height: 30px;
  letter-spacing: 0.46px;
  @media screen and (max-width: 470px) {
    font-size: rem(20px);
    height: 20px;
    line-height: 20px;
  }
}

#money_input {
  width: 100%;
  height: 37px;
  border-radius: 5px;
  margin: 9px 0 18px 0;
}

#money_button_container {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  .button_row {
    display: flex;
    width: 100%;
    .left_money_button {
      margin-left: 10px;
    }
  }
  #clear_button {
    width: 100%;
    height: 31px;
    line-height: 31px;
    text-align: center;
    margin-top: 5px;
    background: #2d2d2d;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #ffffff;
    font-weight: 100;
    font-size: 1rem;
    cursor: pointer;
    &:active {
      background: #686868;
    }
  }
}

.money_button {
  width: 100%;
  height: 31px;
  background: #2d2d2d;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 100;
  font-size: 0.6rem;
  margin-top: 5px;
  cursor: pointer;
  &:active {
    background: #686868;
  }
}

#operation_wish_level_box {
  height: 72px;
  border-top: 1px solid #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
  padding: rem(19px) 0 rem(19px) 0;
  margin: rem(20px) 0 rem(20px) 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#wish_level_box {
  display: flex;
  width: 100%;
  height: 29px;
  line-height: 29px;
  justify-content: flex-end;
}

.wish_level_operation_button {
  width: rem(28px);
  height: rem(29px);
  line-height: 29px;
  background: #2d2d2d;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.32);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-weight: 300;
  font-size: rem(18px);
  cursor: pointer;
  &:active {
    background: #686868;
  }
  @media screen and (max-width: 470px) {
    width: rem(25px);
    height: rem(26px);
    line-height: 26px;
    font-size: rem(14px);
  }
}

#wish_level {
  width: rem(30px);
  height: rem(29px);
  font-size: rem(20px);
  margin: 0 rem(20px) 0 rem(20px);
  text-align: center;
  @media screen and (max-width: 470px) {
    width: rem(27px);
    height: rem(26px);
    font-size: rem(18px);
  }
}

#sidebar_submit_button {
  width: 100%;
  height: 38px;
  background: #ab86df;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.32);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 2px;
  cursor: pointer;
  &:active {
    background: #ccb6eb;
  }
}

.wish_list_container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px 0 10px;
}

#add_item_box {
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
  margin-bottom: 25px;
  box-sizing: border-box;
  flex-direction: column;
  // @media screen and (max-width: 990px) {
  // }
}

#add_item_contents {
  width: 100%;
  display: none;
  align-items: center;
  padding: 20px 0 20px 0;
  border-top: 1px dashed #c4c4c4;
  @media screen and (max-width: 590px) {
    flex-direction: column;
  }
}

#upload_photo_box {
  width: 200px;
  height: 130px;
  position: relative;
  #upload_image_box {
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #dedede;
    box-sizing: border-box;
    border-radius: 7px;
    position: absolute;
    background: #ededed;
    #thumb_image {
      display: none;
      width: 130px;
      height: 130px;
      border-radius: 8px;
    }
  }
  input {
    width: 130px;
    height: 130px;
    position: absolute;
    box-sizing: border-box;
    opacity: 0;
    z-index: 1;
    margin: 0;
    &:file-selector-button {
      display: none;
      text-decoration: none;
    }

    cursor: pointer;
  }
  @media screen and (max-width: 590px) {
    width: 130px;
    margin-bottom: 15px;
  }
}

#add_item_input_area {
  width: 100%;
  #add_item_input_row_middle {
    margin: 20px 0 20px 0;
  }
  .add_item_input_row {
    width: 100%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 590px) {
    }
    .add_item_input_row_category {
      font-weight: 300;
      @media screen and (max-width: 590px) {
        width: 80px;
        margin: 0 20px 0 0;
      }
    }
    .add_item_input {
      margin: 0;
      width: 100%;
      height: 30px;
      border-radius: 5px;
      box-sizing: border-box;
      background: #ededed;
      &:focus {
        background: #ffffff;
      }
    }
  }
}

#add_item_button_box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#add_item_button {
  vertical-align: middle;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: none;
  color: #ffffff;
  background: #ab86df;
  margin: 10px 0 10px 0;
  cursor: pointer;
}

#regi_item_button_box {
  border-top: 1px dashed #c4c4c4;
  width: 100%;
  display: none;
  justify-content: center;
}

#regi_Item {
  width: 80px;
  height: 30px;
  background: #ab86df;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 300;
  margin: 10px 0 10px 0;
  box-sizing: border-box;
  cursor: pointer;
}

#plus_icon {
  width: 30px;
  height: 30px;
  margin-bottom: 1px;
  transition: all 0.125s ease-in 0s;
}

#user_item_area {
  display: flex;
  flex-direction: column;
}

.item_Box {
  max-width: 960px;
  width: 100%;
  border: 2px solid #2d2d2d;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
}

.photo_Box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  img {
    width: 130px;
    height: 130px;
    border-radius: 8px;
  }
  @media screen and (max-width: 590px) {
    width: 80px;
    height: 80px;
    img {
      width: 80px;
      height: 80px;
      border-radius: 8px;
    }
  }
  @media screen and (max-width: 470px) {
    width: 50px;
    height: 50px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 8px;
    }
  }
}

.item_contents {
  padding: 20px 0 20px 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 300;
  margin-left: 20px;
  .item_category_box {
    width: 100%;
    display: flex;
    .item_Category {
      font-weight: 500;
      width: 80px;
      text-align: end;
      margin-right: 30px;
    }
  }
  @media screen and (max-width: 590px) {
    font-size: 0.9rem;
    margin-left: 15px;
    .item_category_box {
      width: 100%;
      display: flex;
      .item_Category {
        font-weight: 500;
        width: 60px;
        text-align: end;
        margin-right: 20px;
      }
    }
  }
  @media screen and (max-width: 470px) {
    font-size: 0.6rem;
    margin-left: 10px;
    .item_category_box {
      width: 100%;
      display: flex;
      .item_Category {
        font-weight: 500;
        width: 50px;
        text-align: end;
        margin-right: 10px;
      }
    }
  }
}

.edit_Button_Box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 20px;
  padding: 0 5px 0 0;
  width: 60px;
  height: 100%;
  opacity: 0.15;
  &:hover {
    opacity: 1;
  }
  img {
    width: 16px;
    cursor: pointer;
  }
  @media screen and (max-width: 590px) {
    margin-left: 15px;
    width: 50px;
    img {
      width: 13px;
    }
  }
  @media screen and (max-width: 470px) {
    margin-left: 10px;
    width: 40px;
    img {
      width: 10px;
    }
  }
}

#empty_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  font-weight: 300;
  font-size: 16px;
}

#result_Container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#username_Box {
  font-size: 24px;
  font-weight: 300;
}

#total_Info {
  margin: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #2d2d2d;
  font-weight: 300;
}

#result_Text_Info_Container {
  display: flex;
  flex-direction: column;
  min-height: 240px;
  justify-content: space-between;
  margin: 0 15px 0 15px;
  padding-bottom: 15px;
  font-weight: 100;
}

.result_Bold_Text {
  color: #ab86df;
  font-weight: 300;
}

.angry_Text {
  margin-top: 10px;
  font-weight: 500;
  color: #ab86df;
}

#randomTextContainer {
  margin-top: 35px;
  display: flex;
  font-weight: 300;
  flex-direction: column;
  align-items: center;
}

#share_kakao_container {
  display: flex;
  justify-content: center;
  &:active {
    opacity: 0.5;
  }
}

#share_kakao {
  height: 30px;
  display: none;
  align-items: center;
  text-align: center;
  img {
    height: 25px;
    margin-right: 5px;
  }
  font-weight: 300;
  font-size: 12px;
  cursor: pointer;
  margin: 10px 0 15px 0;
}

#scroll_top_button {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 20px 5px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  z-index: 1;
  background: #2d2d2d;
  opacity: 0.3;
  border-radius: 100%;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  &:hover {
    opacity: 0.5;
  }
}

#wish_level_range {
  padding: 0;
  margin: 0;
}

#wish_level_label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: rem(12px);
  span {
    margin-left: 6px;
  }
}
