#main_Page_Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 78.75rem;
  width: 100%;
  padding: 40px 10px 40px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 884px) {
  #main_Page_Container {
    padding: 40px 0 40px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.side_Bar {
  min-width: 20rem;
  max-width: 23.75rem;
  width: 100%;
  height: 31.25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 0.9375rem;
  margin-right: 1.6875rem;
  padding: 1.875rem 1.25rem 1.875rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 884px) {
  .side_Bar {
    margin: 1.25rem 0 1.25rem 0;
  }
}

@media screen and (max-width: 470px) {
  .side_Bar {
    width: 100%;
    padding: 10px;
    margin: 0.625rem;
    height: auto;
  }
}

.sidebar_Title {
  width: 100%;
  height: 30px;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 30px;
  letter-spacing: 0.46px;
}

@media screen and (max-width: 470px) {
  .sidebar_Title {
    font-size: 1rem;
    height: 20px;
    line-height: 20px;
  }
}

#money_Input {
  width: 100%;
  height: 37px;
  border-radius: 5px;
  margin: 9px 0 18px 0;
}

#money_Button_Container {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 470px) {
  #money_Button_Container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.money_Button {
  width: 120px;
  height: 31px;
  background: #2d2d2d;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 100;
  font-size: 0.6rem;
  cursor: pointer;
}

.money_Button:active {
  background: #686868;
}

@media screen and (max-width: 470px) {
  .money_Button {
    width: 8rem;
    height: 1.8rem;
    font-size: 6px;
  }
}

#operation_Wish_Level_Box {
  height: 72px;
  border-top: 1px solid #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
  padding: 1.1875rem 0 1.1875rem 0;
  margin: 1.25rem 0 1.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Wish_Level_Box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 29px;
  line-height: 29px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wish_Level_Operation_Button {
  width: 1.75rem;
  height: 1.8125rem;
  line-height: 29px;
  background: #2d2d2d;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.32);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-weight: 300;
  font-size: 1.125rem;
  cursor: pointer;
}

.wish_Level_Operation_Button:active {
  background: #686868;
}

@media screen and (max-width: 470px) {
  .wish_Level_Operation_Button {
    width: 1.5625rem;
    height: 1.625rem;
    line-height: 26px;
    font-size: 0.875rem;
  }
}

#wish_Level {
  width: 1.875rem;
  height: 1.8125rem;
  font-size: 1.25rem;
  margin: 0 1.25rem 0 1.25rem;
  text-align: center;
}

@media screen and (max-width: 470px) {
  #wish_Level {
    width: 1.6875rem;
    height: 1.625rem;
    font-size: 1.125rem;
  }
}

#sidebar_Submit_Button {
  width: 100%;
  height: 38px;
  background: #ab86df;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.32);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 2px;
  cursor: pointer;
}

.wish_List_Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 960px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px 0 10px;
}

#add_Item_Box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
  margin-bottom: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#add_Item_Contens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media screen and (max-width: 590px) {
  #add_Item_Contens {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#upload_Photo_Box {
  width: 150px;
  height: 130px;
  position: relative;
  display: none;
}

#upload_Photo_Box #upload_Image_Box {
  width: 130px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #dedede;
  background: rgba(225, 225, 225, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 7px;
  position: absolute;
  background: #ededed;
}

#upload_Photo_Box #upload_Image_Box #thumb_Image {
  display: none;
  width: 130px;
  height: 130px;
  border-radius: 8px;
}

#upload_Photo_Box input {
  width: 130px;
  height: 130px;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  z-index: 1;
  margin: 0;
  cursor: pointer;
}

#upload_Photo_Box input:file-selector-button {
  display: none;
  text-decoration: none;
}

@media screen and (max-width: 590px) {
  #upload_Photo_Box {
    margin-bottom: 15px;
  }
}

#add_Item_Input_Area {
  width: 100%;
  display: none;
}

#add_Item_Input_Area .add_Item_Input_Row {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 520px) {
  #add_Item_Input_Area .add_Item_Input_Row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#add_Item_Input_Area .add_Item_Input_Row div {
  text-align: end;
  width: 100px;
  margin: 0 20px 0 20px;
  font-weight: 300;
}

@media screen and (max-width: 590px) {
  #add_Item_Input_Area .add_Item_Input_Row div {
    width: 80px;
    margin: 0 20px 0 0;
  }
}

#add_Item_Input_Area .add_Item_Input_Row .add_Item_Input {
  margin: 0;
  width: 100%;
  height: 30px;
  background: rgba(225, 225, 225, 0.4);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#wish_Level_Button_Box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wish_Level_Button_Box .wish_Level_Button {
  max-width: 40px;
  width: 100%;
  height: 25px;
  background: rgba(225, 225, 225, 0.4);
  border-radius: 4px;
  border: 2px solid #dedede;
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
}

#add_Item_Button_Box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#add_Item_Button {
  vertical-align: middle;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: none;
  color: #ffffff;
  background: #ab86df;
  margin: 10px 0 10px 0;
  cursor: pointer;
}

#regi_Item_Button_Box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#regi_Item {
  width: 80px;
  height: 30px;
  display: none;
  background: #ab86df;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 300;
  margin: 15px 0 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

#plus_Icon {
  width: 30px;
  height: 30px;
  margin-bottom: 1px;
  -webkit-transition: all 0.125s ease-in 0s;
  transition: all 0.125s ease-in 0s;
}

#user_Item_Area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item_Box {
  max-width: 960px;
  width: 100%;
  border: 2px solid #2d2d2d;
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin-bottom: 30px;
}

.photo_Box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  height: 130px;
}

.photo_Box img {
  width: 130px;
  height: 130px;
  border-radius: 8px;
}

@media screen and (max-width: 520px) {
  .photo_Box {
    width: 80px;
    height: 80px;
  }
  .photo_Box img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 430px) {
  .photo_Box {
    width: 50px;
    height: 50px;
  }
  .photo_Box img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }
}

.item_Contents {
  padding: 20px 0 20px 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 300;
  margin-left: 20px;
}

.item_Contents .item_Category_Box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item_Contents .item_Category_Box .item_Category {
  font-weight: 500;
  width: 80px;
  text-align: end;
  margin-right: 30px;
}

@media screen and (max-width: 520px) {
  .item_Contents {
    font-size: 0.9rem;
    margin-left: 15px;
  }
  .item_Contents .item_Category_Box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .item_Contents .item_Category_Box .item_Category {
    font-weight: 500;
    width: 60px;
    text-align: end;
    margin-right: 20px;
  }
}

@media screen and (max-width: 430px) {
  .item_Contents {
    font-size: 0.6rem;
    margin-left: 10px;
  }
  .item_Contents .item_Category_Box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .item_Contents .item_Category_Box .item_Category {
    font-weight: 500;
    width: 50px;
    text-align: end;
    margin-right: 10px;
  }
}

.edit_Button_Box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 20px;
  padding: 0 5px 0 0;
  width: 60px;
  height: 100%;
  opacity: 0.15;
}

.edit_Button_Box:hover {
  opacity: 1;
}

.edit_Button_Box img {
  width: 16px;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .edit_Button_Box {
    margin-left: 15px;
    width: 50px;
  }
  .edit_Button_Box img {
    width: 13px;
  }
}

@media screen and (max-width: 430px) {
  .edit_Button_Box {
    margin-left: 10px;
    width: 40px;
  }
  .edit_Button_Box img {
    width: 10px;
  }
}

#empty_Box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  font-weight: 300;
  font-size: 16px;
}

#result_Container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#username_Box {
  font-size: 24px;
  font-weight: 300;
}

#total_Info {
  margin: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #2d2d2d;
  font-weight: 300;
}

#result_Text_Info_Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 15px 0 15px;
  padding-bottom: 15px;
  font-weight: 100;
}

.result_Bold_Text {
  color: #ab86df;
  font-weight: 300;
}

.angry_Text {
  margin-top: 10px;
  font-weight: 500;
  color: #ab86df;
}

#randomTextContainer {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
